@import "tailwindcss";

@theme{
    
    --color-muted:#878680;
    --font-Manrope: 'Manrope';
    --font-Covered: 'Covered By Your Grace';

}
@layer base{
   body{
    
    font-family: var(--font-Manrope);
   } 
}
.Communication-link{
  @apply font-bold hover:text-green-600 transition-colors;
}
.nav-a {
  @apply text-[#878680] hover:text-[#1F1E17] transition
   hover:underline underline-offset-3 ;
}